* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

.title {
  font-family: "Federant", serif;
  font-size: 3.125rem;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  text-align: center;
}

.login-button {
  background-color: hsl(194, 23%, 62%);
  color: hsl(0, 0%, 100%);
  padding: 0.75rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 1.875rem;
  font-family: "Karantina", system-ui;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: hsl(194, 23%, 72%);
}

.register-link {
  font-family: "Karantina", system-ui;
  margin-top: 1rem;
  font-size: 1.875rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  text-decoration: none;
}

.back-button {
  position: absolute;
  left: 0;
  margin: 0.1rem 0 1rem;
  background: none;
  border: none;
  color: hsl(0, 0%, 100%);
  font-family: "Federant", serif;
  font-size: 1.875rem;
  font-weight: 300;
}
.back-button a {
  font-family: "Federant", serif;
  font-size: 1.875rem;
  font-weight: 300;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.back-button:hover {
  text-shadow: 0 0 10px hsla(184, 86%, 71%, 0.8), 0 0 20px hsla(0, 0%, 100%, 0.6), 0 0 30px hsla(0, 0%, 100%, 0.4);
}

.instructions-title {
  color: hsl(0, 0%, 0%);
  font-family: "Karantina", system-ui;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.instructions-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.instruction-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(193, 13%, 28%);
  border: 1px solid hsl(0, 0%, 47%);
  width: 34rem;
  text-align: center;
}

.img-cards {
  max-width: 50%;
  height: auto;
  margin: 5rem;
  align-items: center;
  justify-content: center;
}

.text-box {
  background-color: hsl(195, 15%, 22%);
  border: 0.1px solid hsl(0, 0%, 47%);
  margin-top: 2rem;
  padding-top: 3rem;
  padding: 2rem;
  height: 15rem;
}

.text-box figcaption {
  text-align: left;
  font-family: "Neuton", serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  margin: 0;
}

.title-tarjeta {
  text-align: left;
  padding-bottom: 1rem;
  font-family: "Federant", serif;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
}

.image-container {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 12rem;
}

.small-image {
  width: 30%;
}

.small-image img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background-color: hsl(193, 13%, 28%);
  padding: 1rem;
  width: 50rem;
  text-align: center;
}

.card-title {
  font-family: "Karantina", system-ui;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card-content {
  background-color: hsl(191, 25%, 38%);
  font-family: "Karantina", system-ui;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.icons {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transition: filter 0.3s ease;
}

.icons-footer {
  width: 32px;
  height: 32px;
  margin-right: 1px;
  transition: filter 0.3s ease;
}

nav a:hover .icons,
nav a:hover .icons-footer {
  transform: scale(1.1);
  filter: brightness(1.2);
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 1px solid hsl(0, 0%, 100%);
  box-sizing: border-box;
  text-align: center;
}

.logo-header {
  width: 140px;
  height: auto;
}

.logo-footer {
  width: 83px;
  height: auto;
  margin-left: 28px;
}

/* Header y footer */
.header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(189, 7%, 19%);
  padding: 2rem 5rem;
  position: relative;
}

.nav-links,
.nav-links-footer {
  display: flex;
  gap: 1rem;
}
.nav-links a,
.nav-links-footer a {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-family: "Federant", serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-links a:hover,
.nav-links-footer a:hover {
  text-shadow: 0 0 10px hsla(184, 86%, 71%, 0.8), 0 0 20px hsla(0, 0%, 100%, 0.6), 0 0 30px hsla(0, 0%, 100%, 0.4);
  font-size: 1.1rem;
}

.nav-links {
  gap: 3rem;
}

/*menu hamburguesa*/
.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.orientation-message {
  display: none;
}

.panel {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  padding: 4.3rem;
  background-color: hsl(189, 7%, 19%);
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.nav-section {
  text-align: center;
  position: relative;
}

.controls-title {
  font-family: "Federant", serif;
  font-size: 1.875rem;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  margin: 0.1rem 0 1rem;
}

.divider {
  border: none;
  border-top: 0.4rem solid hsl(0, 0%, 100%);
  margin: 1rem 0;
}

.controls-panel {
  max-width: 30%;
  height: max-content;
}

.credits-title {
  font-family: "Karantina", system-ui;
  font-size: 1.875rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.credits-text {
  font-family: "Karantina", system-ui;
  font-size: 1.875rem;
  font-weight: 300;
  color: hsl(0, 0%, 100%);
  margin-bottom: 2rem;
  text-align: center;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instructions-section {
  text-align: center;
  margin: 5rem 0;
}

.image-container-key {
  max-width: 50%;
  height: auto;
  margin-top: 12rem;
  align-items: center;
  justify-content: center;
}

.history-section {
  background-color: hsl(191, 18%, 30%);
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.history-container {
  font-family: "Neuton", serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  text-align: left;
  width: 100%;
  max-width: 37rem;
  padding-left: 1.5rem;
}

.pj-container {
  flex: 3;
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: end;
  padding-right: 10rem;
}

.fondo {
  background: url(../img/fondo_menu.png) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.logo_menu {
  display: table;
  margin: 8rem auto 4rem;
  width: 70%;
}

.menu-section {
  text-align: center;
  margin-top: 2rem;
}
.menu-section a {
  font-family: "Federant", serif;
  font-size: 3.125rem;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-section a:hover {
  text-shadow: 0 0 10px hsla(184, 86%, 71%, 0.8), 0 0 20px hsla(0, 0%, 100%, 0.6), 0 0 30px hsla(0, 0%, 100%, 0.4);
  font-size: 3.625rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.buttons a {
  margin-top: 2rem;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
}

.ranking-content {
  background-color: hsl(191, 25%, 38%);
  font-family: "Karantina", system-ui;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  min-height: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

th {
  font-weight: 400;
  font-size: 2.5rem;
  padding: 10px;
  text-align: center;
}

td {
  font-family: "Neuton", serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

th {
  background-color: hsl(191, 25%, 38%);
  color: hsl(0, 0%, 100%);
}

tr:nth-child(even) {
  background-color: hsl(193, 13%, 38%);
}

.user {
  text-align: left;
}

.points {
  text-align: right;
  min-width: 50px;
}

.Log_Ran_Cred {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
