* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
}
a:focus,
button:focus {
  outline: none;
}

.title {
  font-family: "Federant", serif;
  font-size: 3.125rem;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  text-align: center;
}

.login-button {
  background-color: hsl(194, 23%, 62%);
  color: hsl(0, 0%, 100%);
  padding: 0.75rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 1.875rem;
  font-family: "Karantina", system-ui;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
@media only screen and (max-width: 576px) {
  .login-button {
    padding: 0.5rem;
    font-size: 1.875rem;
  }
}

.login-button:hover {
  background-color: hsl(194, 23%, 72%);
}

.register-link {
  font-family: "Karantina", system-ui;
  margin-top: 1rem;
  font-size: 1.875rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  text-decoration: none;
}
.register-link:hover {
  text-shadow: 0 0 0.625rem hsla(184, 86%, 71%, 0.8), 0 0 1.25rem hsla(0, 0%, 100%, 0.6), 0 0 1.875rem hsla(0, 0%, 100%, 0.4);
}
@media only screen and (max-width: 576px) {
  .register-link {
    font-size: 1.5625rem;
  }
}

.back-button {
  position: absolute;
  left: 0;
  margin: 0.1rem 0 1rem;
  background: none;
  border: none;
  color: hsl(0, 0%, 100%);
  font-family: "Federant", serif;
  font-size: 1.875rem;
  font-weight: 300;
}
.back-button a {
  font-family: "Federant", serif;
  font-size: 1.875rem;
  font-weight: 300;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.back-button:hover {
  text-shadow: 0 0 0.625rem hsla(184, 86%, 71%, 0.8), 0 0 1.25rem hsla(0, 0%, 100%, 0.6), 0 0 1.875rem hsla(0, 0%, 100%, 0.4);
}

.instructions-title {
  color: hsl(0, 0%, 0%);
  font-family: "Karantina", system-ui;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 576px) {
  .instructions-title {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .instructions-title {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
@media only screen and (min-width: 1025px) {
  .instructions-title {
    margin-bottom: 3rem;
  }
}

.instructions-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
@media only screen and (max-width: 576px) {
  .instructions-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .instructions-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 0 1.5rem;
  }
}
@media only screen and (min-width: 1025px) {
  .instructions-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}

.instruction-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(193, 13%, 28%);
  border: 0.0625rem solid hsl(0, 0%, 47%);
  width: 34rem;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .instruction-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(193, 13%, 28%);
    border: 1px solid hsl(0, 0%, 47%);
    width: 100%;
    max-width: 18.75rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: auto;
    box-sizing: border-box;
  }
  .instruction-card:nth-of-type(2) .image-container {
    margin-left: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .instruction-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(193, 13%, 28%);
    border: 1px solid hsl(0, 0%, 47%);
    width: 90%;
    max-width: 22rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: auto;
    box-sizing: border-box;
  }
  .instruction-card:nth-of-type(2) .image-container {
    margin-left: 0.0625rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media only screen and (min-width: 1025px) {
  .instruction-card {
    width: 30%;
    max-width: 34rem;
  }
}

.img-cards {
  max-width: 50%;
  height: auto;
  margin: 5rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 576px) {
  .img-cards {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .img-cards {
    max-width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }
}
@media only screen and (min-width: 1025px) {
  .img-cards {
    max-width: 60%;
    margin: 2rem;
  }
}

.text-box {
  background-color: hsl(195, 15%, 22%);
  border: 0.006 solid hsl(0, 0%, 47%);
  margin-top: 2rem;
  padding-top: 3rem;
  padding: 2rem;
  height: 15rem;
}
@media only screen and (max-width: 576px) {
  .text-box {
    background-color: hsl(195, 15%, 22%);
    border: 0.00625rem solid hsl(0, 0%, 47%);
    margin-top: 1rem;
    padding: 1rem;
    height: auto;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
  }
  .text-box figcaption {
    text-align: left;
    font-family: "Neuton", serif;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    margin: 0;
    white-space: normal;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .text-box {
    background-color: hsl(195, 15%, 22%);
    border: 0.0625rem solid hsl(0, 0%, 47%);
    margin-top: 1rem;
    padding: 1rem;
    height: auto;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
  }
  .text-box figcaption {
    text-align: left;
    font-family: "Neuton", serif;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    margin: 0;
    white-space: normal;
  }
}
@media only screen and (min-width: 1025px) {
  .text-box {
    height: auto;
    padding: 1rem;
    height: 20rem;
  }
}

.text-box figcaption {
  text-align: left;
  font-family: "Neuton", serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  margin: 0;
}
@media only screen and (min-width: 1025px) {
  .text-box figcaption {
    font-size: 0.8rem;
  }
}

.title-tarjeta {
  text-align: left;
  padding-bottom: 1rem;
  font-family: "Federant", serif;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 576px) {
  .title-tarjeta {
    font-size: 1.5625rem;
    font-weight: 700;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .title-tarjeta {
    font-size: 1.5625rem;
    font-weight: 700;
  }
}
@media only screen and (min-width: 1025px) {
  .title-tarjeta {
    font-size: 3.75rem;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 12rem;
}
@media only screen and (max-width: 576px) {
  .image-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .image-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 1025px) {
  .image-container {
    margin-top: 6rem;
    max-width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  background-color: hsl(193, 13%, 28%);
  padding: 1rem;
  width: 50rem;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .card {
    background-color: transparent;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .card {
    background-color: transparent;
    width: 100%;
    margin-bottom: 3.5rem;
    padding: 0;
  }
}

.card-title {
  font-family: "Karantina", system-ui;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .card-title {
    margin: 2rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .card-title {
    margin: 2.5rem;
  }
}

.card-content {
  background-color: hsl(191, 25%, 38%);
  font-family: "Karantina", system-ui;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .card-content {
    margin: 0;
    padding: 1rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .card-content {
    margin: 2rem;
    padding: 1.5rem;
  }
}

.icons {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  transition: filter 0.3s ease;
}
@media only screen and (max-width: 1024px) and (min-width: 925px) {
  .icons {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
}

.icons-footer {
  width: 2rem;
  height: 2rem;
  margin-right: 0.063rem;
  transition: filter 0.3s ease;
}
@media only screen and (max-width: 576px) {
  .icons-footer {
    display: flex;
    justify-content: center;
    margin: 0 0.5rem;
  }
}
.icons-footer .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(189, 7%, 19%);
  padding: 1rem 2rem;
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .icons-footer .header {
    padding: 1rem;
    flex-direction: row;
  }
}
.icons-footer .logo {
  width: 150px;
}
.icons-footer .logo img {
  width: 100%;
}
.icons-footer .menu-icon {
  display: block;
  cursor: pointer;
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .icons-footer .menu-icon {
    display: block;
    z-index: 1000;
  }
}
.icons-footer .menu-icon img {
  width: 2rem;
  height: 2rem;
}

nav a:hover .icons,
nav a:hover .icons-footer {
  transform: scale(1.1);
  filter: brightness(1.2);
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 0.063rem solid hsl(0, 0%, 100%);
  box-sizing: border-box;
  text-align: center;
}

.instructions-section {
  text-align: center;
  margin: 5rem 0;
}
@media only screen and (max-width: 576px) {
  .instructions-section {
    text-align: center;
    margin: 5rem 0;
    margin-top: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .instructions-section {
    text-align: center;
    margin: 5rem 0;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 1025px) {
  .instructions-section {
    margin: 3rem 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(189, 7%, 19%);
  padding: 2rem 5rem;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 0.1rem;
    margin: auto;
    text-align: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .header {
    margin: auto;
    text-align: center;
    flex-direction: row;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 925px) {
  .header {
    padding: 0.1rem;
    margin: auto;
    text-align: center;
    padding-right: 2rem;
  }
}

.logo-header {
  width: 8.75rem;
  height: auto;
}
@media only screen and (max-width: 576px) {
  .logo-header {
    width: 80%;
    max-width: 9rem;
    margin: 0;
    padding: 1rem;
    display: block;
    height: auto;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 925px) {
  .logo-header {
    width: 90%;
    max-width: 9rem;
    margin: 0;
    padding: 1rem;
    display: block;
    height: auto;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(189, 7%, 19%);
  padding: 2rem 5rem;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .footer {
    padding: 0.1rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .footer {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
}

.logo-footer {
  width: 5.188rem;
  height: auto;
  margin-left: 1.75rem;
}
@media only screen and (max-width: 576px) {
  .logo-footer {
    max-width: 4.375rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .logo-footer {
    max-width: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 0.75rem;
  }
}

.nav-links,
.nav-links-footer {
  display: flex;
  gap: 1rem;
}
.nav-links a,
.nav-links-footer a {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-family: "Federant", serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-links a:hover,
.nav-links-footer a:hover {
  text-shadow: 0 0 10px hsla(184, 86%, 71%, 0.8), 0 0 20px hsla(0, 0%, 100%, 0.6), 0 0 30px hsla(0, 0%, 100%, 0.4);
  font-size: 1.1rem;
}
@media only screen and (max-width: 576px) {
  .nav-links,
  .nav-links-footer {
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 925px) {
  .nav-links,
  .nav-links-footer {
    font-size: 1rem;
  }
}

/*menu hamburguesa*/
.menu-icon {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .menu-icon {
    display: block;
    margin: 1rem;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .menu-icon {
    display: block;
    z-index: 1000;
    margin-right: 2rem;
  }
}
.menu-icon img {
  width: 3rem;
  height: 3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 576px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: hsl(185, 8%, 27%);
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
  }
  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 134px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 134px);
    background-color: hsl(185, 8%, 27%);
  }
  .nav-links a {
    margin-top: 1.6rem;
    font-size: 1rem;
    padding: 0.5rem 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }
  .nav-links a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: hsl(185, 16%, 43%);
    width: 70%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links img.icons {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
  }
  .nav-links img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: hsl(185, 8%, 27%);
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 183px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 183px);
    background-color: hsl(185, 8%, 27%);
  }
  .nav-links a {
    margin-top: 1.5rem;
    font-size: 1.5625rem;
    padding: 0.5rem 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
  }
  .nav-links a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: hsl(185, 16%, 43%);
    width: 75%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links img.icons {
    margin-right: 0.75rem;
    width: 2rem;
    height: 2rem;
  }
  .nav-links img {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.orientation-message {
  display: none;
}

.panel {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  padding: 4.3rem;
  background-color: hsl(189, 7%, 19%);
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.nav-section {
  text-align: center;
  position: relative;
}

.controls-title {
  font-family: "Federant", serif;
  font-size: 1.875rem;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  margin: 0.1rem 0 1rem;
}

.divider {
  border: none;
  border-top: 0.4rem solid hsl(0, 0%, 100%);
  margin: 1rem 0;
}

.controls-panel {
  max-width: 30%;
  height: max-content;
}

.credits-title {
  font-family: "Karantina", system-ui;
  font-size: 1.875rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.credits-text {
  font-family: "Karantina", system-ui;
  font-size: 1.875rem;
  font-weight: 300;
  color: hsl(0, 0%, 100%);
  margin-bottom: 2rem;
  text-align: center;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 576px) {
  .banner-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .banner-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}

.image-container-key {
  max-width: 50%;
  height: auto;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1025px) {
  .image-container-key {
    margin-top: 6rem;
    max-width: 100%;
  }
}

.small-image {
  width: 30%;
}
@media only screen and (min-width: 1025px) {
  .small-image {
    width: 40%;
  }
}

.small-image img {
  max-width: 100%;
  height: auto;
}

.history-section {
  background-color: hsl(191, 18%, 30%);
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .history-section {
    background-color: hsl(191, 18%, 30%);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .history-section {
    background-color: hsl(191, 18%, 30%);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.history-container {
  font-family: "Neuton", serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  text-align: left;
  width: 100%;
  max-width: 37rem;
  padding-left: 1.5rem;
}
@media only screen and (max-width: 576px) {
  .history-container {
    font-family: "Neuton", serif;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    text-align: left;
    width: 100%;
    max-width: 37.5rem;
    padding: 1rem;
    padding-bottom: 7rem;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .history-container {
    font-family: "Neuton", serif;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    text-align: left;
    width: 100%;
    max-width: 40rem;
    padding: 1.5rem;
    padding-bottom: 7.5rem;
    box-sizing: border-box;
  }
}

.pj-container {
  flex: 3;
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: end;
  padding-right: 10rem;
}
@media only screen and (max-width: 576px) {
  .pj-container {
    max-width: 70%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    order: -1;
    transform: scaleX(-1);
  }
  .pj-container img {
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .pj-container {
    max-width: 75%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    order: -1;
    transform: scaleX(-1);
  }
  .pj-container img {
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1025px) {
  .pj-container {
    max-width: 80%;
    margin-left: 24rem;
    margin-right: auto;
    display: flex;
    margin-top: 3rem;
  }
}

.fondo {
  background: url(../img/fondo_menu.png) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.logo_menu {
  display: table;
  margin: 8rem auto 4rem;
  width: 70%;
}

.menu-section {
  text-align: center;
  margin-top: 2rem;
}
.menu-section a {
  font-family: "Federant", serif;
  font-size: 3.125rem;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-section a:hover {
  text-shadow: 0 0 10px hsla(184, 86%, 71%, 0.8), 0 0 20px hsla(0, 0%, 100%, 0.6), 0 0 30px hsla(0, 0%, 100%, 0.4);
  font-size: 3.625rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.buttons a {
  margin-top: 2rem;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 576px) {
  .logo_menu,
  .buttons {
    display: none;
  }
  .orientation-message {
    font-family: "Federant", serif;
    font-size: 1.875rem;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .logo_menu,
  .buttons {
    display: none;
  }
  .orientation-message {
    font-family: "Federant", serif;
    font-size: 1.875rem;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 925px) {
  .fondo {
    height: 100vh;
  }
  .logo_menu {
    margin: 1rem auto 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
    width: 50%;
  }
  .menu-section {
    margin-top: 0;
  }
  .buttons {
    margin-bottom: 0;
  }
  .buttons a {
    font-size: 1.5625rem;
    margin-bottom: 0.1rem;
    padding: 0;
  }
  .buttons:nth-child(2) {
    display: none;
  }
  .orientation-message {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 924px) and (orientation: landscape) {
  .fondo {
    height: 100vh;
  }
  .logo_menu {
    margin: 1rem auto 0;
    margin-top: 1rem;
    margin-bottom: 0rem;
    padding-bottom: 0;
    width: 70%;
  }
  .menu-section {
    margin-top: 0;
  }
  .buttons {
    margin-bottom: 0;
  }
  .buttons a {
    font-size: 1.875rem;
    margin-bottom: 0rem;
    padding: 0;
  }
  .buttons:nth-child(2) {
    display: none;
  }
  .orientation-message {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .logo_menu {
    margin: 1rem auto 0;
    margin-top: 7rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
    width: 70%;
  }
  .menu-section {
    margin-top: 0;
  }
  .buttons {
    margin-bottom: 0;
  }
  .buttons a {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 0;
  }
}
.ranking-content {
  background-color: hsl(191, 25%, 38%);
  font-family: "Karantina", system-ui;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  min-height: 300px;
}
@media only screen and (max-width: 576px) {
  .ranking-content {
    padding: 0.5rem;
    margin: 0;
    min-height: auto;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

th {
  font-weight: 400;
  font-size: 2.5rem;
  padding: 10px;
  text-align: center;
}

td {
  font-family: "Neuton", serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

th {
  background-color: hsl(191, 25%, 38%);
  color: hsl(0, 0%, 100%);
}

tr:nth-child(even) {
  background-color: hsl(193, 13%, 38%);
}

.Log_Ran_Cred {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  .Log_Ran_Cred {
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .Log_Ran_Cred {
    height: auto;
    padding: 1.5rem;
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=main.css.map */
