$ff-secondary: "Federant", serif;
$ff-primary: "Karantina", system-ui;
$ff-text: "Neuton", serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

$fs-xxs: 0.5rem; //8px
$fs-xs: 0.8rem; //12.8
$fs-sm: 1rem; // 16px
$fs-m: 1.5625rem; // 25px
$fs-md: 1.875rem; // 30px
$fs-xmd: 2.5rem; // 40px
$fs-xxmd: 3.125rem; // 50px
$fs-lg: 3.75rem; // 60px
$fs-xxl: 5rem; // 80px

$banner-height: 800px;

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-tarjet: hsl(193, 13%, 28%);
$clr-history-section: hsl(191, 18%, 30%);
$clr-light-blue: hsl(191, 25%, 38%);
$clr-log-button: hsl(194, 23%, 62%);
$clr-tarjet-text: hsl(195, 15%, 22%);
$clr-tarjet-border: hsl(0, 0%, 47%);
$clr-header-footer: hsl(189, 7%, 19%);
$clr-shadow-1: hsla(184, 86%, 71%, 0.8);
$clr-shadow-2: hsla(0, 0%, 100%, 0.6);
$clr-shadow-3: hsla(0, 0%, 100%, 0.4);
$clr-menu-desplegable: hsl(185, 8%, 27%);
$clr-linea-menu: hsl(185, 16%, 43%);
$clr-aviso-rotar: hsla(0, 0%, 0%, 0.3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//menu juego
.fondo {
  background: url(../img/fondo_menu.png) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.logo_menu {
  display: table;
  margin: 8rem auto 4rem;
  width: 70%;
}

.menu-section {
  text-align: center;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.buttons a {
  margin-top: 2rem;
  font-size: $fs-xmd;
  padding: 0.5rem 1rem;
}

/* Header y footer */
.header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr-header-footer;
  padding: 2rem 5rem;
  position: relative;
}

/* Navegación de enlaces */
.nav-links,
.nav-links-footer {
  display: flex;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
    color: $clr-white;
    font-family: $ff-secondary;
    font-size: $fs-sm;
    font-weight: $fw-regular;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
        0 0 30px $clr-shadow-3;
      font-size: calc($fs-sm + 0.1rem);
    }
  }
}

.nav-links {
  gap: 3rem;
}

/* Íconos */
.icons {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transition: filter 0.3s ease;
}

.icons-footer {
  width: 32px;
  height: 32px;
  margin-right: 1px;
  transition: filter 0.3s ease;
}

/* Hover para iconos */
nav a:hover .icons,
nav a:hover .icons-footer {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Logo en el header */
.logo-header {
  width: 140px;
  height: auto;
}

/* Logo en el footer */
.logo-footer {
  width: 83px;
  height: auto;
  margin-left: 28px;
}

/* Banner principal */
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos generales para los enlaces */
a {
  font-family: $ff-secondary;
  font-size: $fs-xxmd;
  color: $clr-white;
  font-weight: $fw-light;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
      0 0 30px $clr-shadow-3;
    font-size: calc($fs-xxmd + 0.5rem);
  }
}

/* Títulos */
.title {
  font-family: $ff-secondary;
  font-size: $fs-xxmd;
  color: $clr-white;
  font-weight: $fw-light;
  text-align: center;
}

/* Panel principal */

.panel {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  padding: 4.3rem;
  background-color: $clr-header-footer;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

/* Sección de navegación */
.nav-section {
  text-align: center;
  position: relative;
}

/* Título de controles */
.controls-title {
  font-family: $ff-secondary;
  font-size: $fs-md;
  color: $clr-white;
  font-weight: $fw-light;
  margin: 0.1rem 0 1rem;
}

/* Botón de regreso */
.back-button {
  position: absolute;
  left: 0;
  margin: 0.1rem 0 1rem;
  background: none;
  border: none;
  color: $clr-white;
  font-family: $ff-secondary;
  font-size: $fs-md;
  font-weight: $fw-light;

  a {
    font-family: $ff-secondary;
    font-size: $fs-md;
    font-weight: $fw-light;
    color: $clr-white;
    text-decoration: none;
  }
}

/* Divisor */
.divider {
  border: none;
  border-top: 0.4rem solid $clr-white;
  margin: 1rem 0;
}

/* Contenedor de imágenes */

.controls-panel {
  max-width: 30%;
  height: max-content;
}

/* Tarjetas */
.instructions-section {
  text-align: center;
  margin: 5rem 0;
}

.instructions-title {
  color: $clr-black;
  font-family: $ff-primary;
  font-size: $fs-xmd;
  font-weight: $fw-regular;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.instructions-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.instruction-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $clr-tarjet;
  border: 1px solid $clr-tarjet-border;
  width: 34rem;
  text-align: center;
}

figure {
  margin: 0;
}

.img-cards {
  max-width: 50%;
  height: auto;
  margin: 5rem;
  align-items: center;
  justify-content: center;
}

.text-box {
  background-color: $clr-tarjet-text;
  border: 0.1px solid $clr-tarjet-border;
  margin-top: 2rem;
  padding-top: 3rem;
  padding: 2rem;
  height: 15rem;
}

.text-box figcaption {
  text-align: left;
  font-family: $ff-text;
  font-size: $fs-sm;
  color: $clr-white;
  margin: 0;
}

.title-tarjeta {
  text-align: left;
  padding-bottom: 1rem;
  font-family: $ff-secondary;
  font-size: $fs-xmd;
  color: $clr-white;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 12rem;
}
.image-container-key {
  max-width: 50%;
  height: auto;
  margin-top: 12rem;
  align-items: center;
  justify-content: center;
}

.small-image {
  width: 30%;
}

.small-image img {
  max-width: 100%;
  height: auto;
}

.history-section {
  background-color: $clr-history-section;
  padding: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.history-container {
  font-family: $ff-text;
  font-size: $fs-sm;
  color: $clr-white;
  text-align: left;
  width: 100%;
  max-width: 37rem;
  padding-left: 1.5rem;
}

.pj-container {
  flex: 3;
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: end;
  padding-right: 10rem;
}

.Log_Ran_Cred {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background-color: $clr-tarjet;
  padding: 1rem;
  width: 50rem;
  text-align: center;
}

.card-title {
  font-family: $ff-primary;
  font-size: $fs-xmd;
  color: $clr-white;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card-content {
  background-color: $clr-light-blue;
  font-family: $ff-primary;
  font-size: $fs-xmd;
  color: $clr-white;
  padding: 2rem;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 1px solid $clr-white;
  box-sizing: border-box;
  text-align: center;
}

.login-button {
  background-color: $clr-log-button;
  color: $clr-white;
  padding: 0.75rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: $fs-md;
  font-family: $ff-primary;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: lighten($clr-log-button, 10%);
}

.register-link {
  font-family: $ff-primary;
  margin-top: 1rem;
  font-size: $fs-md;
  color: $clr-white;
  text-align: center;
  text-decoration: none;
}

.ranking-content {
  background-color: $clr-light-blue;
  font-family: $ff-primary;
  font-size: $fs-sm;
  color: $clr-white;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  min-height: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

th {
  font-weight: $fw-regular;
  font-size: $fs-xmd;
  padding: 10px;
  text-align: center;
}

td {
  font-family: $ff-text;
  font-weight: $fw-light;
  font-size: $fs-sm;
  padding: 10px;
  text-align: center;
}
th {
  background-color: $clr-light-blue;
  color: $clr-white;
}

tr:nth-child(even) {
  background-color: lighten($clr-tarjet, 10%);
}

.user {
  text-align: left;
}

.points {
  text-align: right;
  min-width: 50px;
}

.credits-title {
  font-family: $ff-primary;
  font-size: $fs-md;
  color: $clr-white;
  text-align: center;
}

.credits-text {
  font-family: $ff-primary;
  font-size: $fs-md;
  font-weight: $fw-light;
  color: $clr-white;
  margin-bottom: 2rem;
  text-align: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}
.orientation-message {
  display: none;
}

/* Ajustes para celulares pequeños */
@media (max-width: 576px) {
  .header-footer {
    padding: 0.1rem;
    margin: auto;
    text-align: center;
  }

  .logo-header {
    width: 80%;
    max-width: 9rem;
    margin: 0;
    padding: 1rem;
    display: block;
    height: auto;
  }

  .banner-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .content {
    display: block;
    transition: opacity 0.3s ease;
  }

  .content.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
    margin: 1rem;
    margin-right: 2rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $clr-menu-desplegable;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 134px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 134px);
    background-color: $clr-menu-desplegable;
  }

  .nav-links a {
    margin-top: 1.3rem;
    font-size: $fs-sm;
    margin-top: 2rem;
    padding: 0.5rem 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .nav-links a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: $clr-linea-menu;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-links img.icons {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  .nav-links img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .pj-container {
    max-width: 70%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    order: -1;
    transform: scaleX(-1);
  }

  .pj-container img {
    max-width: 100%;
    height: auto;
  }

  .text-box {
    background-color: $clr-tarjet-text;
    border: 0.00625rem solid $clr-tarjet-border;
    margin-top: 1rem;
    padding: 1rem;
    height: auto;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
  }

  .instructions-section {
    text-align: center;
    margin: 5rem 0;
    margin-top: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .instructions-title {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .title-tarjeta {
    font-size: $fs-m;
    font-weight: $fw-bold;
  }

  .instructions-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }

  .instruction-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $clr-tarjet;
    border: 1px solid $clr-tarjet-border;
    width: 90%;
    max-width: 18.75rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: auto;
    box-sizing: border-box;
  }

  .instruction-card:nth-of-type(2) .image-container {
    margin-left: 0.0625rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .img-cards {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }

  .text-box figcaption {
    text-align: left;
    font-family: $ff-text;
    font-size: $fs-sm;
    color: $clr-white;
    margin: 0;
    white-space: normal;
  }

  .history-section {
    background-color: $clr-history-section;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .history-container {
    font-family: $ff-text;
    font-size: $fs-sm;
    color: $clr-white;
    text-align: left;
    width: 100%;
    max-width: 37.5rem;
    padding: 1rem;
    padding-bottom: 7rem;
    box-sizing: border-box;
  }

  .history-text {
    width: 90%;
    max-width: 15.625rem;
    background-color: $clr-tarjet-text;
    border: 1px solid $clr-tarjet-border;
    padding: 2rem;
    box-sizing: border-box;
    margin: 1rem auto;
    overflow: visible;
    white-space: normal;
    color: $clr-white;
    font-family: $ff-text;
    font-size: $fs-sm;
  }

  .image-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .footer img.logo-footer {
    max-width: 4.375rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
  }

  .footer-icon {
    margin: 0 0.5rem;
  }

  //login, ranking, credits y register
  .Log_Ran_Cred {
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .card-title {
    margin: 2rem;
  }

  .card-content {
    margin: 0;
    padding: 1rem;
  }

  .card {
    background-color: transparent;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0;
    border: 1px solid $clr-white;
    box-sizing: border-box;
    text-align: center;
  }

  .login-button {
    padding: 0.5rem;
    font-size: $fs-md;
  }

  .register-link {
    font-size: $fs-m;
  }

  .ranking-content {
    padding: 1rem;
    min-height: auto;
  }

  .ranking-content {
    padding: 0.5rem;
    margin: 0;
    min-height: auto;
  }

  table {
    width: 90%;
    font-size: $fs-xs;
  }

  th,
  td {
    padding: 0.5rem;
  }

  .user,
  .points {
    text-align: center;
  }

  th {
    font-size: $fs-m;
  }

  tr:nth-child(even) {
    background-color: lighten($clr-tarjet, 5%);
  }

  table,
  th,
  td {
    box-sizing: border-box;
  }

  .logo_menu,
  .buttons {
    display: none;
  }
  .orientation-message {
    font-family: $ff-secondary;
    font-size: $fs-md;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $clr-aviso-rotar;
    color: $clr-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}

/* Ajustes para pantallas con ancho máximo de 768px */
@media (max-width: 768px) {
  .header-footer {
    padding: 0.2rem;
    margin: auto;
    text-align: center;
  }

  .logo-header {
    width: 70%;
    max-width: 11rem;
    margin: 0;
    padding: 1rem;
    display: block;
    height: auto;
  }

  .banner-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  .content {
    display: block;
    transition: opacity 0.3s ease;
  }

  .content.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
    margin: 1rem;
    margin-right: 2rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $clr-menu-desplegable;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 165px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 165px);
    background-color: $clr-menu-desplegable;
  }

  .nav-links a {
    margin-top: 1.5rem;
    font-size: $fs-m;
    padding: 0.5rem 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .nav-links a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: $clr-linea-menu;
    width: 75%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-links img.icons {
    margin-right: 0.75rem;
    width: 2rem;
    height: 2rem;
  }

  .nav-links img {
    width: 1.75rem;
    height: 1.75rem;
  }

  .pj-container {
    max-width: 75%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    order: -1;
    transform: scaleX(-1);
  }

  .pj-container img {
    max-width: 100%;
    height: auto;
  }

  .text-box {
    background-color: $clr-tarjet-text;
    border: 0.0625rem solid $clr-tarjet-border;
    margin-top: 1rem;
    padding: 1rem;
    height: auto;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
  }

  .instructions-section {
    text-align: center;
    margin: 5rem 0;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
    box-sizing: border-box;
  }

  .instructions-title {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .title-tarjeta {
    font-size: $fs-m;
    font-weight: $fw-bold;
  }

  .instructions-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 0 1.5rem;
  }

  .instruction-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $clr-tarjet;
    border: 1px solid $clr-tarjet-border;
    width: 90%;
    max-width: 22rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: auto;
    box-sizing: border-box;
  }

  .instruction-card:nth-of-type(2) .image-container {
    margin-left: 0.0625rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .img-cards {
    max-width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }

  .text-box figcaption {
    text-align: left;
    font-family: $ff-text;
    font-size: $fs-sm;
    color: $clr-white;
    margin: 0;
    white-space: normal;
  }

  .history-section {
    background-color: $clr-history-section;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .history-container {
    font-family: $ff-text;
    font-size: $fs-sm;
    color: $clr-white;
    text-align: left;
    width: 100%;
    max-width: 40rem;
    padding: 1.5rem;
    padding-bottom: 7.5rem;
    box-sizing: border-box;
  }

  .history-text {
    width: 90%;
    max-width: 17.5rem;
    background-color: $clr-tarjet-text;
    border: 1px solid $clr-tarjet-border;
    padding: 2.25rem;
    box-sizing: border-box;
    margin: 1.25rem auto;
    overflow: visible;
    white-space: normal;
    color: $clr-white;
    font-family: $ff-text;
  }

  .image-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
  }

  .footer img.logo-footer {
    max-width: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    margin-left: 0.75rem;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
  }

  .footer-icon {
    margin: 0 0.75rem;
  }

  .Log_Ran_Cred {
    height: auto;
    padding: 1.5rem;
    box-sizing: border-box;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .card-title {
    margin: 2.5rem;
  }

  .card-content {
    margin: 0;
    padding: 1.5rem;
  }

  .card {
    background-color: transparent;
    width: 100%;
    margin-bottom: 3.5rem;
    padding: 0;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.875rem;
    margin-bottom: 0;
    border: 1px solid $clr-white;
    box-sizing: border-box;
    text-align: center;
  }

  .login-button {
    padding: 0.625rem;
    font-size: $fs-md;
  }

  .register-link {
    font-size: $fs-md;
  }

  .ranking-content {
    padding: 1.25rem;
    min-height: auto;
  }

  .ranking-content {
    padding: 0.75rem;
    margin: 0;
    min-height: auto;
  }

  table {
    width: 95%;
    font-size: $fs-sm;
  }

  th,
  td {
    padding: 0.75rem;
  }

  .user,
  .points {
    text-align: center;
  }

  th {
    font-size: $fs-md;
  }

  tr:nth-child(even) {
    background-color: lighten($clr-tarjet, 5%);
  }

  table,
  th,
  td {
    box-sizing: border-box;
  }

  .logo_menu,
  .buttons {
    display: none;
  }

  .orientation-message {
    font-family: $ff-secondary;
    margin: 0;
    text-align: center;
    padding: 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $clr-aviso-rotar;
    color: $clr-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .fondo {
    height: 100vh;
  }

  .logo_menu {
    margin: 1rem auto 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
    width: 50%;
  }

  .menu-section {
    margin-top: 0;
  }

  .buttons {
    margin-bottom: 0;
  }

  .buttons a {
    font-size: $fs-m;
    margin-bottom: 0.1rem;
    padding: 0;
  }

  .buttons:nth-child(2) {
    display: none;
  }

  .orientation-message {
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 901px) and (orientation: landscape) {
  .fondo {
    height: 100vh;
  }

  .logo_menu {
    margin: 1rem auto 0;
    margin-top: 11rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
    width: 80%;
  }

  .menu-section {
    margin-top: 0;
  }

  .buttons {
    margin-bottom: 0;
  }

  .buttons a {
    font-size: $fs-xmd;
    margin-bottom: 1rem;
    padding: 0;
  }

  .buttons:nth-child(2) {
    display: none;
  }

  .orientation-message {
    display: none;
  }
}

@media (max-width: 1700px) and (min-width: 1025px) {
  /* Tarjetas */
  .instructions-section {
    margin: 3rem 0;
  }

  .instructions-title {
    margin-bottom: 3rem;
  }

  .instructions-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .instruction-card {
    width: 30%;
    max-width: 34rem;
  }

  .img-cards {
    max-width: 60%;
    margin: 2rem;
  }

  .text-box {
    height: auto;
    padding: 1rem;
    height: 20rem;
  }

  .text-box figcaption {
    font-size: $fs-xs;
  }

  .title-tarjeta {
    font-size: $fs-lg;
  }

  .image-container,
  .image-container-key {
    margin-top: 6rem;
    max-width: 100%;
  }

  .small-image {
    width: 40%;
  }

  .pj-container {
    max-width: 80%;
    margin-left: 24rem;
    margin-right: auto;
    display: flex;
    margin-top: 3rem;
  }

  .fondo {
    height: 100vh;
  }

  .logo_menu {
    margin: 1rem auto 0;
    margin-top: 7rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
    width: 70%;
  }

  .menu-section {
    margin-top: 0;
  }

  .buttons {
    margin-bottom: 0;
  }

  .buttons a {
    font-size: $fs-xmd;
    margin-bottom: 1rem;
    padding: 0;
  }
}

