@use "../abstracts/variables" as *;

.panel {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  padding: 4.3rem;
  background-color: $clr-header-footer;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.nav-section {
  text-align: center;
  position: relative;
}

.controls-title {
  font-family: $ff-secondary;
  font-size: $fs-md;
  color: $clr-white;
  font-weight: $fw-light;
  margin: 0.1rem 0 1rem;
}



.divider {
  border: none;
  border-top: 0.4rem solid $clr-white;
  margin: 1rem 0;
}

.controls-panel {
  max-width: 30%;
  height: max-content;
}