@use "../abstracts/variables" as *;

.login-button {
  background-color: $clr-log-button;
  color: $clr-white;
  padding: 0.75rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: $fs-md;
  font-family: $ff-primary;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: lighten($clr-log-button, 10%);
}

.register-link {
  font-family: $ff-primary;
  margin-top: 1rem;
  font-size: $fs-md;
  color: $clr-white;
  text-align: center;
  text-decoration: none;
}

.Log_Ran_Cred {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}