@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

//menu juego
.fondo {
  background: url(../img/fondo_menu.png) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.logo_menu {
  display: table;
  margin: 13rem auto 4rem;
  width: 60%;
  @include respond-to($tablet-landscape) {
    display: table;
    margin: 1rem auto 1rem;
    width: 50%;
    
  }
}

.menu-section {
  text-align: center;
  margin-top: 2rem;
  a {
    font-family: $ff-secondary;
    font-size: $fs-xxmd;
    color: $clr-white;
    font-weight: $fw-light;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
        0 0 30px $clr-shadow-3;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.buttons a {
  margin-top: 2rem;
  font-size: $fs-xmd;
  padding: 0.5rem 1rem;
  @include respond-to($tablet-landscape) {
    margin-top: 0;
    font-size: $fs-m;
    padding: 0.5rem 1rem;
  }
}

@include respond-to($phone) {
  .logo_menu,
  .buttons {
    display: none;
  }
  .orientation-message {
    font-family: $ff-secondary;
    font-size: $fs-md;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $clr-aviso-rotar;
    color: $clr-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}
@include respond-to($tablet) {
  .logo_menu,
  .buttons {
    display: none;
  }
  .orientation-message {
    font-family: $ff-secondary;
    font-size: $fs-md;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $clr-aviso-rotar;
    color: $clr-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}
