$ff-menu: "Queen & Country", sans serif;
$ff-credits: "Bahnschrift", sans serif;
$ff-secondary: "Federant", serif;
$ff-primary: "Karantina", system-ui;
$ff-text: "Neuton", serif;

$fw-light: 300;
$fw-regular: 400;

$fs-sm: 1rem; // 16px
$fs-md: 1.875rem; // 30px
$fs-xmd: 2.5rem; // 40px
$fs-xxmd: 3.125rem; // 50px
$fs-lg: 3.75rem; // 60px
$fs-xxl: 5rem; // 80px

$banner-height: 800px;

$clr-white: hsl(0, 0%, 100%);
$clr-blue: hsl(185, 67%, 7%);
$clr-black: hsl(0, 0%, 0%);
$clr-tarjet: hsl(193, 13%, 28%);
$clr-history-section: hsl(191, 18%, 30%);
$clr-light-blue: hsl(191, 25%, 38%);
$clr-log-button: hsl(194, 23%, 62%);
$clr-tarjet-text: hsl(195, 15%, 22%);
$clr-tarjet-border: hsl(0, 0%, 47%);
$clr-header-footer: hsl(189, 7%, 19%);
$clr-shadow-1: hsla(184, 86%, 71%, 0.8);
$clr-shadow-2: hsla(0, 0%, 100%, 0.6);
$clr-shadow-3: hsla(0, 0%, 100%, 0.4);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo de la página */
.fondo {
  background: url(../img/fondo.jpg) no-repeat;
  background-size: cover;
}

/* Header y footer */
.header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr-header-footer;
  padding: 2rem 5rem;
  position: relative;
}

/* Navegación de enlaces */
.nav-links,
.nav-links-footer {
  display: flex;
  gap: 1rem; // Ajusta el espacio según la sección

  a {
    display: flex;
    align-items: center;
    color: $clr-white;
    font-family: $ff-secondary;
    font-size: $fs-sm;
    font-weight: $fw-regular;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
        0 0 30px $clr-shadow-3;
      font-size: calc($fs-sm + 0.1rem);
    }
  }
}

.nav-links {
  gap: 3rem;
}

/* Íconos */
.icons {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transition: filter 0.3s ease;
}

.icons-footer {
  width: 32px;
  height: 32px;
  margin-right: 1px;
  transition: filter 0.3s ease;
}

/* Hover para iconos */
nav a:hover .icons,
nav a:hover .icons-footer {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Logo en el header */
.logo-header {
  width: 140px;
  height: auto;
}

/* Logo en el footer */
.logo-footer {
  width: 83px;
  height: auto;
  margin-left: 28px;
}

.logo_menu {
  display: table;
  margin: 8rem auto 4rem;
}

/* Banner principal */
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos generales para los enlaces */
a {
  font-family: $ff-menu;
  font-size: $fs-xxmd;
  color: $clr-white;
  font-weight: $fw-light;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
      0 0 30px $clr-shadow-3;
    font-size: calc($fs-xxmd + 0.5rem);
  }
}

/* Títulos */
.title {
  font-family: $ff-secondary;
  font-size: $fs-xxmd;
  color: $clr-white;
  font-weight: $fw-light;
  text-align: center;
}

.controls-title {
  font-family: $ff-menu;
  font-size: $fs-lg;
  color: $clr-white;
  font-weight: $fw-light;
  text-align: center;
}

/* Sección del menú */
.menu-section {
  text-align: center;
  margin-top: 4rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

/* Panel principal */
.panel {
  width: 80%;
  max-width: 90rem;
  margin: auto;
  padding: 4.3rem;
  background-color: $clr-blue;
  text-align: center;
  position: relative;
}

/* Sección de navegación */
.nav-section {
  text-align: center;
  position: relative;
}

/* Título de controles */
.controls-title {
  font-family: $ff-menu;
  font-size: $fs-xxl;
  color: $clr-white;
  font-weight: $fw-light;
  margin: 0.1rem 0 1rem;
}

/* Botón de regreso */
.back-button {
  position: absolute;
  left: 0;
  margin-left: 1rem;
  margin-top: 1.5rem;
  background: none;
  border: none;
  color: $clr-white;
  font-family: $ff-menu;
  font-size: $fs-lg;

  a {
    color: $clr-white;
    text-decoration: none;
  }
}

/* Divisor */
.divider {
  border: none;
  border-top: 0.4rem solid $clr-white;
  margin: 1rem 0;
}

/* Contenedor de imágenes */
.image-container {
  text-align: center;
  padding-top: 1rem;
}

.controls-panel {
  max-width: 100%;
  height: max-content;
}

/* Créditos */
.credits {
  color: $clr-white;
  font-family: $ff-credits;
  font-size: $fs-xmd;
  font-weight: $fw-light;
}

/* Créditos en el footer */
.credits-footer {
  font-family: $ff-menu;
  font-size: $fs-lg;
  color: $clr-white;
  font-weight: $fw-light;
  margin: 5.9rem 0 1rem;
}

.credits-container {
  align-items: center;
  margin-top: 6rem;
}

/* Tarjetas */
.instructions-section {
  text-align: center;
  margin: 5rem 0;
}

.instructions-title {
  color: $clr-black;
  font-family: $ff-primary;
  font-size: $fs-xmd;
  font-weight: $fw-regular;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.instructions-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.instruction-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $clr-tarjet;
  border: 1px solid $clr-tarjet-border;
  width: 34rem;
  text-align: center;
}

figure {
  margin: 0;
}

.img-cards {
  max-width: 50%;
  height: auto;
  margin: 5rem;
  align-items: center;
  justify-content: center;
}

.text-box {
  background-color: $clr-tarjet-text;
  border: 0.1px solid $clr-tarjet-border;
  margin-top: 2rem;
  padding-top: 3rem;
  padding: 2rem;
  height: 15rem;
}

.text-box figcaption {
  text-align: left;
  font-family: $ff-text;
  font-size: $fs-sm;
  color: $clr-white;
  margin: 0;
}

.title-tarjeta {
  text-align: left;
  padding-bottom: 1rem;
  font-family: $ff-secondary;
  font-size: $fs-xmd;
  color: $clr-white;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 12rem;
}
.image-container-key {
  max-width: 50%;
  height: auto;
  margin-top: 12rem;
  align-items: center;
  justify-content: center;
}

.small-image {
  width: 30%;
}

.small-image img {
  max-width: 100%;
  height: auto;
}

.history-section {
  background-color: $clr-history-section;
  padding: 6rem;
  display: flex;

  justify-content: flex-start;
}

.history-container {
  font-family: $ff-text;
  font-size: $fs-sm;
  color: $clr-white;
  text-align: left;
  width: 34rem;
}

.pj-container {
  max-width: 50%;
  height: auto;
  margin-left: 47rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
}

.Log_Ran_Cred {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background-color: $clr-tarjet;
  padding: 1rem;
  width: 40rem;
  text-align: center;
}

.card-title {
  font-family: $ff-primary;
  font-size: $fs-xmd;
  color: $clr-white;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card-content {
  background-color: $clr-light-blue;
  font-family: $ff-primary;
  font-size: $fs-xmd;
  color: $clr-white;
  padding: 2rem;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 1px solid $clr-white;
  box-sizing: border-box;
  text-align: center;
}

.login-button {
  background-color: $clr-log-button;
  color: $clr-white;
  padding: 0.75rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: $fs-md;
  font-family: $ff-primary;
  margin-top: 1rem;
}

.register-link {
  font-family: $ff-primary;
  display: block;
  margin-top: 1rem;
  font-size: $fs-md;
  color: $clr-white;
  text-align: center;
  text-decoration: none;
}
