@use "../abstracts/variables" as *;

.header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr-header-footer;
  padding: 2rem 5rem;
  position: relative;
}

.logo-header {
  width: 8.75rem;
  height: auto;
}
