@use "../abstracts/variables" as *;
.nav-links,
.nav-links-footer {
  display: flex;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
    color: $clr-white;
    font-family: $ff-secondary;
    font-size: $fs-sm;
    font-weight: $fw-regular;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
        0 0 30px $clr-shadow-3;
      font-size: calc($fs-sm + 0.1rem);
    }
  }
}

.nav-links {
  gap: 3rem;
}

/*menu hamburguesa*/
.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}
.orientation-message {
  display: none;
}
