@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.nav-links,
.nav-links-footer {
  display: flex;
  gap: 1rem;

  a {
    display: flex;
    align-items: center;
    color: $clr-white;
    font-family: $ff-secondary;
    font-size: $fs-sm;
    font-weight: $fw-regular;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
        0 0 30px $clr-shadow-3;
      font-size: calc($fs-sm + 0.1rem);
    }
  }

  @include respond-to($phone) {
    padding-bottom: 1rem;
  }

  @include respond-to($phone-tablet-portrait-landscape) {
    font-size: $fs-sm;
  }
}
/*menu hamburguesa*/
.menu-icon {
  display: none;
  cursor: pointer;

  @include respond-to($phone) {
    display: block;
    margin: 1rem;
    margin-right: 2rem;
  }
  @include respond-to($tablet) {
    display: block;
    z-index: 1000;
    margin-right: 2rem;
  }
  img {
    width: 3rem;
    height: 3rem;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;

  @include respond-to($phone) {
    display: none; // Ocultar por defecto en móviles
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $clr-menu-desplegable;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;

    &.active {
      // Mostrar en móviles cuando está activo
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 134px;
      left: 0;
      width: 100vw;
      height: calc(100vh - 134px);
      background-color: $clr-menu-desplegable;
    }

    a {
      margin-top: 1.6rem; // Margen superior
      font-size: $fs-sm;
      padding: 0.5rem 0 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-decoration: none;
      color: $clr-white;

      &::after {
        // Línea debajo del enlace
        content: "";
        display: block;
        height: 0.0625rem;
        background-color: $clr-linea-menu;
        width: 70%;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    img.icons {
      margin-right: 0.5rem;
      width: 1.25rem;
      height: 1.25rem;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  @include respond-to($tablet) {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $clr-menu-desplegable;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;

    &.active {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 183px;
      left: 0;
      width: 100vw;
      height: calc(100vh - 183px);
      background-color: $clr-menu-desplegable;
    }

    a {
      margin-top: 1.5rem;
      font-size: $fs-m;
      padding: 0.5rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;

      &::after {
        content: "";
        display: block;
        height: 0.0625rem;
        background-color: $clr-linea-menu;
        width: 75%;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    img.icons {
      margin-right: 0.75rem;
      width: 2rem;
      height: 2rem;
    }

    img {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}

.orientation-message {
  display: none;
}
