@use "../abstracts/variables" as *;
/* Header y footer */
.header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr-header-footer;
  padding: 2rem 5rem;
  position: relative;
}
