@use "../abstracts/variables" as *;

.login-button {
  background-color: $clr-log-button;
  color: $clr-white;
  padding: 0.75rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: $fs-md;
  font-family: $ff-primary;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: lighten($clr-log-button, 10%);
}

.register-link {
  font-family: $ff-primary;
  margin-top: 1rem;
  font-size: $fs-md;
  color: $clr-white;
  text-align: center;
  text-decoration: none;
}

.back-button {
  position: absolute;
  left: 0;
  margin: 0.1rem 0 1rem;
  background: none;
  border: none;
  color: $clr-white;
  font-family: $ff-secondary;
  font-size: $fs-md;
  font-weight: $fw-light;

  a {
    font-family: $ff-secondary;
    font-size: $fs-md;
    font-weight: $fw-light;
    color: $clr-white;
    text-decoration: none;
  }
  &:hover {
    text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
      0 0 30px $clr-shadow-3;
  }
}
