@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

//formulario de login y register
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 0.063rem solid $clr-white;
  box-sizing: border-box;
  text-align: center;

}
