@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

//formulario de login y register
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 0.063rem solid $clr-white;
  box-sizing: border-box;
  text-align: center;
}

.error {
  color: $clr-error;
  font-family: $ff-primary;
  font-size: $fs-xmd;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

