@use "../abstracts/variables" as *;

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border: 1px solid $clr-white;
  box-sizing: border-box;
  text-align: center;
}
