@use "../abstracts/variables" as *;

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: $clr-white;
}
.orientation-message {
  display: none;
}
