@use "../abstracts/variables" as *;

a {
  font-family: $ff-secondary;
  font-size: $fs-xxmd;
  color: $clr-white;
  font-weight: $fw-light;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-shadow: 0 0 10px $clr-shadow-1, 0 0 20px $clr-shadow-2,
      0 0 30px $clr-shadow-3;
  }
}

.title {
  font-family: $ff-secondary;
  font-size: $fs-xxmd;
  color: $clr-white;
  font-weight: $fw-light;
  text-align: center;
}

.controls-title {
  font-family: $ff-secondary;
  font-size: $fs-md;
  color: $clr-white;
  font-weight: $fw-light;
  margin: 0.1rem 0 1rem;
}

.instructions-title {
  color: $clr-black;
  font-family: $ff-primary;
  font-size: $fs-xmd;
  font-weight: $fw-regular;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.text-box {
  background-color: $clr-tarjet-text;
  border: 0.1px solid $clr-tarjet-border;
  margin-top: 2rem;
  padding-top: 3rem;
  padding: 2rem;
  height: 15rem;
}

.text-box figcaption {
  text-align: left;
  font-family: $ff-text;
  font-size: $fs-sm;
  color: $clr-white;
  margin: 0;
}

.title-tarjeta {
  text-align: left;
  padding-bottom: 1rem;
  font-family: $ff-secondary;
  font-size: $fs-xmd;
  color: $clr-white;
}

.card-title {
  font-family: $ff-primary;
  font-size: $fs-xmd;
  color: $clr-white;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card-content {
  background-color: $clr-light-blue;
  font-family: $ff-primary;
  font-size: $fs-xmd;
  color: $clr-white;
  padding: 2rem;
  padding-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.credits-title {
  font-family: $ff-primary;
  font-size: $fs-md;
  color: $clr-white;
  text-align: center;
}

.credits-text {
  font-family: $ff-primary;
  font-size: $fs-md;
  font-weight: $fw-light;
  color: $clr-white;
  margin-bottom: 2rem;
  text-align: center;
}
