@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@media #{$phone} {
  .header-footer {
    padding: 0.1rem;
    margin: auto;
    text-align: center;
  }

  .logo-header {
    width: 80%;
    max-width: 9rem;
    margin: 0;
    padding: 1rem;
    display: block;
    height: auto;
  }

  .banner-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }

  .content {
    display: block;
    transition: opacity 0.3s ease;
  }

  .content.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
    margin: 1rem;
    margin-right: 2rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $clr-menu-desplegable;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 134px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 134px);
    background-color: $clr-menu-desplegable;
  }

  .nav-links a {
    margin-top: 1.3rem;
    font-size: $fs-sm;
    margin-top: 2rem;
    padding: 0.5rem 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .nav-links a::after {
    content: "";
    display: block;
    height: 0.0625rem;
    background-color: $clr-linea-menu;
    width: 70%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-links img.icons {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  .nav-links img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .pj-container {
    max-width: 70%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    order: -1;
    transform: scaleX(-1);
  }

  .pj-container img {
    max-width: 100%;
    height: auto;
  }

  .text-box {
    background-color: $clr-tarjet-text;
    border: 0.00625rem solid $clr-tarjet-border;
    margin-top: 1rem;
    padding: 1rem;
    height: auto;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
  }

  .instructions-section {
    text-align: center;
    margin: 5rem 0;
    margin-top: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .instructions-title {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .title-tarjeta {
    font-size: $fs-m;
    font-weight: $fw-bold;
  }

  .instructions-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }

  .instruction-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $clr-tarjet;
    border: 1px solid $clr-tarjet-border;
    width: 90%;
    max-width: 18.75rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: auto;
    box-sizing: border-box;
  }

  .instruction-card:nth-of-type(2) .image-container {
    margin-left: 0.0625rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .img-cards {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
  }

  .text-box figcaption {
    text-align: left;
    font-family: $ff-text;
    font-size: $fs-sm;
    color: $clr-white;
    margin: 0;
    white-space: normal;
  }

  .history-section {
    background-color: $clr-history-section;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .history-container {
    font-family: $ff-text;
    font-size: $fs-sm;
    color: $clr-white;
    text-align: left;
    width: 100%;
    max-width: 37.5rem;
    padding: 1rem;
    padding-bottom: 7rem;
    box-sizing: border-box;
  }

  .history-text {
    width: 90%;
    max-width: 15.625rem;
    background-color: $clr-tarjet-text;
    border: 1px solid $clr-tarjet-border;
    padding: 2rem;
    box-sizing: border-box;
    margin: 1rem auto;
    overflow: visible;
    white-space: normal;
    color: $clr-white;
    font-family: $ff-text;
    font-size: $fs-sm;
  }

  .image-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .footer img.logo-footer {
    max-width: 4.375rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
  }

  .footer-icon {
    margin: 0 0.5rem;
  }

  //login, ranking, credits y register
  .Log_Ran_Cred {
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .card-title {
    margin: 2rem;
  }

  .card-content {
    margin: 0;
    padding: 1rem;
  }

  .card {
    background-color: transparent;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0;
    border: 1px solid $clr-white;
    box-sizing: border-box;
    text-align: center;
  }

  .login-button {
    padding: 0.5rem;
    font-size: $fs-md;
  }

  .register-link {
    font-size: $fs-m;
  }

  .ranking-content {
    padding: 1rem;
    min-height: auto;
  }

  .ranking-content {
    padding: 0.5rem;
    margin: 0;
    min-height: auto;
  }

  .logo_menu,
  .buttons {
    display: none;
  }
  .orientation-message {
    font-family: $ff-secondary;
    font-size: $fs-md;
    margin: 0;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $clr-aviso-rotar;
    color: $clr-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}
