// Fuentes
$ff-secondary: "Federant", serif;
$ff-primary: "Karantina", system-ui;
$ff-text: "Neuton", serif;


// Pesos de fuente
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

// Tamaños de fuente
$fs-xxs: 0.5rem; //8px
$fs-xs: 0.8rem; //12.8
$fs-sm: 1rem; // 16px
$fs-m: 1.5625rem; // 25px
$fs-md: 1.875rem; // 30px
$fs-xmd: 2.5rem; // 40px
$fs-xxmd: 3.125rem; // 50px
$fs-lg: 3.75rem; // 60px
$fs-xxl: 5rem; // 80px

$banner-height: 800px;

// Colores
$clr-error: hsl(0, 100%, 26%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-tarjet: hsl(193, 13%, 28%);
$clr-history-section: hsl(191, 18%, 30%);
$clr-light-blue: hsl(191, 25%, 38%);
$clr-log-button: hsl(194, 23%, 62%);
$clr-tarjet-text: hsl(195, 15%, 22%);
$clr-tarjet-border: hsl(0, 0%, 47%);
$clr-header-footer: hsl(189, 7%, 19%);
$clr-shadow-1: hsla(184, 86%, 71%, 0.8);
$clr-shadow-2: hsla(0, 0%, 100%, 0.6);
$clr-shadow-3: hsla(0, 0%, 100%, 0.4);
$clr-menu-desplegable: hsl(185, 8%, 27%);
$clr-linea-menu: hsl(185, 16%, 43%);
$clr-aviso-rotar: hsla(0, 0%, 0%, 0.3);
$clr-controls-panel: hsl(189, 7%, 19%);
